# git
.git
.gitignore

# docker
Dockerfile
compose.yaml

# python
__pycache__/
*/__pycache__/
*/*/__pycache__/
*/*/*/__pycache__/
*.py[cod]
*/*.py[cod]
*/*/*.py[cod]
*/*/*/*.py[cod]

# python virtualenv
.env/
.venv/
venv/

# unit tests
.coverage
.cache
coverage.xml

# VSCode
.vscode/
.devcontainer/